@media (min-width: 350px) and (max-width: 599px) { 
body{
     background-image: url('../img/dawn.png');
  }

div{
  background-image: url('../img/kitten-large.png');
}
}

@media (min-width: 600px) and (max-width: 866px) {
 
body{
     background-image: url('../img/night.jpg');
  
}
div{
  background-image: url('../img/kitten-small.png');
}
}

@media (min-width: 867px) and (max-width: 1400px) { 
body{
     background-image: url('../img/sunny-day.jpg');  
  
}
div{
  background-image: url('../img/kitten-medium.png');
}

}