body{
margin:0px;
padding: 0px;
overflow: hidden;
background-repeat: no-repeat;
background-size: 100%;
}

div{
margin-left: 30%;
margin-top: 30%;
width: 20em;
height: 20em;
overflow: hidden;
background-repeat: no-repeat;
background-size: 100%;
}

